<!DOCTYPE html>
<html>

<head>
    <script src="http://code.jquery.com/jquery-1.7.1.js"></script>
</head>

<body>
    <div class="galleria">
        <input style="display: none;" type="button" id="Call" value="Get Files" />
    </div>
    <div id="output">

    </div>
</body>

</html>


<script>
    function hoverVideo(e) {
        this.play();
    }
    function hideVideo(e) {
        this.pause();
    }
    $(document).ready(function () {
        // check if token is avavialble 
        var token = localStorage.getItem('access_token');
        console.log('token', token);
        if (token) {
            getFiles();
        } else {
            var person = new Object();
            person.clientId = localStorage.getItem('clientId');
            person.clientSecret = localStorage.getItem('clientSecret');
            var url = new URL(window.location.href);
            var code = url.searchParams.get("code");
            person.code = code;
            $.ajax({
                url: "https://demo.simformsolutions.com:40300/api/get/token",
                type: 'POST',
                dataType: 'json',
                data: person,
                success: function (data, textStatus, xhr) {
                    localStorage.setItem('access_token', data.access_token);
                    getFiles();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
    });


    function getFiles() {
        var tokenObjcet = new Object();
        tokenObjcet.access_token = localStorage.getItem('access_token');
        tokenObjcet.folderName1 = localStorage.getItem('folderName1');
        tokenObjcet.folderName2 = localStorage.getItem('folderName2');
        $.ajax({
            url: "https://demo.simformsolutions.com:40300/api/list/data",
            type: 'POST',
            data: tokenObjcet,
            success: function (data, textStatus, xhr) {
                $('#output').html(data);
                // something along that
                var vid = document.getElementsByTagName("video");
                [].forEach.call(vid, function (item) {
                    item.addEventListener('mouseover', hoverVideo, false);
                    item.addEventListener('mouseout', hideVideo, false);
                });
            },
            error: function (xhr, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }
</script>