<!DOCTYPE html>
<html>

<head>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
</head>

<body>

    <h1>Midwest Gathering + Mammoth!</h1>
    <div class="galleria">
        {{#each imgs}}
        <a class="image-block">
            <img class="image-video" src="{{this}}">
        </a>
        {{/each}}
        {{#each videos}}
        <a class="image-block">
            <video class="image-video" muted="muted" src="{{this}}" controls>
                Your browser does not support the video tag.
            </video>
        </a>
        {{/each}}
    </div>
</body>

</html>


<style>
    .galleria {
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        width: 100%;
        text-align: left;
        align-items: center;
    }



    .image-block {
        height: 240px;
        flex: 0 0 19%;
        padding: 5px;
        align-items: flex-start;
        display: flex;
        text-align: left;
        object-fit: cover;

    }



    .image-video {
        height: 240px;
        width: 100%;

    }
</style>